header,
section,
footer {
  padding-top: 1.5em;
  padding-bottom: 1em;
}
header,
section,
.view-box {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}
header *:nth-child(2),
section *:nth-child(2) {
  text-align: right;
}
footer {
  text-align: center;
}

.view-box iframe,
.view-box img {
  height: 300px;
  padding-right: 10px;
}
.view-box iframe {
  min-width: 455px;
}
.view-box img:last-child,
.view-box iframe:last-child {
  padding-right: 0;
}

header .icon,
section .icon,
footer a {
  margin-left: 15px;
  margin-right: 15px;
}

footer .icons {
  margin-bottom: 15px;
}
