:host {
  background-color: white;
}

.header h1,
section h2 {
  display: inline-block;
}
.header h4,
section .icon {
  float: right;
}
.header span {
  padding: 0 15px;
}
section .icon {
  padding-top: 30px;
}

.icon {
  width: 2em;
  height: 2em;
  padding: 2px;
  vertical-align: middle;
}

.people,
.video,
.clay1,
.clay3 {
  display: flex;
  overflow-x: auto;
  text-align: center;
  justify-content: space-between;
}

.people img,
.video iframe {
  height: 300px;
  min-width: 455px;
  padding-right: 5px;
}

.clay1 img {
  height: 300px;
  padding-right: 5px;
}

.people img:last-child,
.clay1 img:last-child,
.video iframe:last-child {
  padding-right: 0;
}

.header,
.footer {
  margin: 0;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}

.footer {
  text-align: center;
  padding: 50px 0;
  width: 100%;
}
